<style>/********** Base styles **********/
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

h1 {
  text-align:center;
  margin-top:50px;
}
.abc {
    position:relative;
    margin: 50px 20px 5px 20px;
    height:auto;
    padding:35px 10px 10px 10px;
    background:#808080;
    border: 1px solid black;
}

.chicken {
  position:absolute;
  top:0;
  right:0;
  border: 1px solid black;
  background-color: #F08080;
  width: auto;
  height: auto;
  font-family: Helvetica;
  text-align:center;
  padding:4px 16px 4px 16px;
  color:black;
  font-weight: bold;
}

.beef {
  position:absolute;
  top:0;
  right:0;
  border: 1px solid black;
  background-color: #A52A2A;
  width: auto;
  height: auto;
  font-family: Helvetica;
  color: white;
  text-align:center;
  padding:4px 16px 4px 16px;
  font-weight: bold;  
}

.sushi {
  position:absolute;
  top:0;
  right:0;
  border: 1px solid black;
  background-color: #F5DEB3;
  color:black;
  width: auto;
  height: auto;
  font-family: Helvetica;
  text-align:center;
  padding:4px 16px 4px 16px;
  font-weight: bold; 
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/********** Large devices only **********/
@media (min-width: 992px) {.col-lg-4   {float: left;}    .col-lg-4 {    width: 33.33%;  }}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {  .col-md-6, .col-md-12 {    float: left;}   .col-md-6 {    width: 50%;  }  .col-md-12 {    width: 100%;  }}

/********** Small devices only **********/
@media (max-width: 767px) {  .col-s-12 { float: left;  }.col-s-12 {width: 100%;}
}
